

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.service-box-wrap{

  box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
  padding: 1rem;
  margin-bottom: 1rem;
  transform: transform .3s;
}

.service-box-wrap:hover{

  box-shadow: 0px 1px 13px rgba(27,27,27,0.705);
  transform: scale(1);
  z-index: 2000;

}

.form-control-border{

  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-radius: 0 !important;

}

.cursor-pointer{
cursor: pointer;

}

.tag-padding{
background-color: rgb(222, 220, 228);
border-radius: 0.25rem;

}

.svg-inline--fa{
  height: 2em;

}

#addTag.form-control{

  width:50%;
  border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.google-fonts{

  font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 3em;

}

.student-logo{
  font-family: 'Roboto', sans-serif;
  font-weight: 950;
  font-size: 0.75em;
  text-align: right;
}

@media only screen and (max-width: 576px) {
  .student-logo {
    display: none;
  }
 
}